<?xml version="1.0" encoding="utf-8"?>
<Elements xmlns="http://schemas.microsoft.com/sharepoint/">
    <Module Name="StarRatingsCSR" Url="Style Library/StarRatingsCSR">
        <File Path="jquery.js" Url="jquery.js" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="StarRatingsCSR.js" Url="StarRatingsCSR.js" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="stars.png" Url="stars.png" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="starratings.css" Url="starratings.css" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
    </Module>
</Elements>
