.csrdemos-entityeditor {
    border: 1px solid #ababab;
    width: 390px;
    padding: 3px;
    background: white;
}

.csrdemos-entityeditor:hover {
    border: 1px solid #92c0e0;
}

.csrdemos-entityeditor:focus {
    border: 1px solid #2a8dd4;
}

input.csrdemos-entityeditorinput {
    width: 200px;
    position: relative;
    float: left;
    border: none;
    padding: 5px;
}

.csrdemos-entity {
    display: block;
    padding: 3px 7px 4px 8px;
    margin: 1px 2px;
    position: relative;
    float: left;
    background-color: #eee;
    border: 1px solid #333;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    color: #333;
    font: n ormal 11px Verdana, Sans-serif;
}

.csrdemos-entitydelete {
    position: absolute;
    right: 8px;
    top: 2px;
    color: #666;
    font: bold 12px Verdana, Sans-serif;
    text-decoration: none;
}

.csrdemos-remove {
    margin-left: 5px;
    color: #0072c6;
}
