<?xml version="1.0" encoding="utf-8"?>
<Elements xmlns="http://schemas.microsoft.com/sharepoint/">
    <Module Name="CSRSandbox" Url="Style Library">
        <File Path="jquery.js" Url="jquery.js" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="CSRConfig.js" Url="CSRConfig.js" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="StarRatingsCSR.js" Url="StarRatingsCSR.js" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="stars.png" Url="stars.png" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="starratings.css" Url="starratings.css" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="EntityEditorCSR.js" Url="EntityEditorCSR.js" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="entityeditor.css" Url="entityeditor.css" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="jquery-ui.js" Url="jquery-ui.js" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="jquery-ui.css" Url="jquery-ui.css" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="jquery-ui.theme.css" Url="jquery-ui.theme.css" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
    </Module>
    <Module Name="CSRSandboxImage" Url="Style Library/images">
        <File Path="ui-bg_glass_55_fbf9ee_1x400.png" Url="ui-bg_glass_55_fbf9ee_1x400.png" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="ui-bg_glass_65_ffffff_1x400.png" Url="ui-bg_glass_65_ffffff_1x400.png" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="ui-bg_glass_75_dadada_1x400.png" Url="ui-bg_glass_75_dadada_1x400.png" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="ui-bg_glass_75_e6e6e6_1x400.png" Url="ui-bg_glass_75_e6e6e6_1x400.png" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="ui-bg_glass_95_fef1ec_1x400.png" Url="ui-bg_glass_95_fef1ec_1x400.png" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="ui-bg_highlight-soft_75_cccccc_1x100.png" Url="ui-bg_highlight-soft_75_cccccc_1x100.png" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="ui-icons_222222_256x240.png" Url="ui-icons_222222_256x240.png" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="ui-icons_2e83ff_256x240.png" Url="ui-icons_2e83ff_256x240.png" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="ui-icons_454545_256x240.png" Url="ui-icons_454545_256x240.png" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="ui-icons_888888_256x240.png" Url="ui-icons_888888_256x240.png" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
        <File Path="ui-icons_cd0a0a_256x240.png" Url="ui-icons_cd0a0a_256x240.png" Type="GhostableInLibrary" IgnoreIfAlreadyExists="True" />
    </Module>
</Elements>
