.csrdemos-stars {
    width: 110px;
    height: 20px;
    background-image: url(stars.png);
    background-position: left top;
    background-size: 110px 120px;
}

.csrdemos-1stars {
    background-position: 0 20px;
}

.csrdemos-2stars {
    background-position: 0 40px;
}

.csrdemos-3stars {
    background-position: 0 60px;
}

.csrdemos-4stars {
    background-position: 0 80px;
}

.csrdemos-5stars {
    background-position: 0 100px;
}

input.ms-long, 
textarea,
div.ms-rtestate-field,
input.ms-input,
.csrdemos-entityeditor,
span.ms-RadioText {
    margin-left: 10px;
}

